RewriteEngine On
RewriteRule ^allergisk$ index.php?allergisk [L]
RewriteRule ^mailfobi$ index.php?mailfobi [L]
RewriteRule ^highscore$ rick.php [L]
RewriteRule ^mörk$ index.php?darkmode [L]
RewriteRule ^tomat$ index.php?tomat [L]
