RewriteEngine On
RewriteRule ^allergisk$ index.php?allergisk [L]
RewriteRule ^mailfobi$ index.php?mailfobi [L]
RewriteRule ^(highscore|admin|wp-admin|img)$ rick.php [L]
RewriteRule ^mörk$ index.php?darkmode [L]
RewriteRule ^tomat$ index.php?tomat [L]
RewriteRule ^krabba$ index.php?krabba [L]
RewriteRule ^cage$ index.php?cage [L]
RewriteRule ^(fusk|kod)/(.*)$ index.php?fusk=$2 [L]
